.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg');
    background-size: cover;
  }
   
  .register {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-left: -62%;
    width: 33%;
  }
   
  .register h2 {
    text-align: center;
    margin-bottom: 20px;
  }
   
  .form-group {
    margin-bottom: 20px;
  }
   
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
   
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
   
  .btn:hover {
    background-color: #0056b3;
  }