<div class="navbar">
    <div class="leftbar">
        <ul>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVHDyOq-G2nM1sQVk5ICoR84Fsmd_MTzwAF1rhEg7lEdovP8Wryzw8apfmH0oH3M5EAI&usqp=CAU"></li>
            <!-- <li style="border-bottom: 2px solid; padding: 0; margin: 25px 0px; font-weight: 700; color: #3d4152;     font-family: ProximaNova,arial,Helvetica Neue,sans-serif; font-size: 15px;">Comviva</li> -->
            <div style="margin-top: 12%; margin-left: -7%;">
              <a><select name="cities list">
                  <option>Gurugram</option>
                  <option>Delhi</option>
                  <option>Banglore</option>
                  <option>NearBy</option>	
              </select></a>
            </div>
            <!-- <li style="color: #919191; font-family: ProximaNova,arial,Helvetica Neue,sans-serif;font-size: 13px;">Gurugram</li> -->
        </ul>
    </div>
    <div class="rightbar">
        <ul>
            <li><span class="material-symbols-outlined"></span>Search</li>
            <li><span class="material-symbols-outlined"></span>%Offer</li>
            <li><span class="material-symbols-outlined"></span>Help</li>
            <!-- <li><span class="material-symbols-outlined"></span>Login</li> -->
            <button class="nav-link" routerLink="login">
              Login
            </button>
            <li><span class="material-symbols-outlined"></span>Cart</li>
        </ul>
    </div>
  </div>
  <div class="content">
        <p>Best offer for you</p>
        <div class="section">
        <div class="box1"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/img1.png?raw=true"></div>
        <div class="box1"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/img2.png?raw=true"></div>
        <div class="box1"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/img3.png?raw=true"></div>
        <div class="box1"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/img1.png?raw=true"></div>
        <div class="box1"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/img2.png?raw=true"></div>
        <div class="box1"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/img3.png?raw=true"></div>
    </div>
  
    <p>What's on your mind?</p>
    <div class="section">
        <div class="box2"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/food1.png?raw=true"><h4>CHICKEN</h4></div>
        <div class="box2"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/food2.png?raw=true"><h4>BURGER</h4></div>
        <div class="box2"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/food3.png?raw=true"><h4>FASTFOOD</h4></div>
        <div class="box2"><img src="https://raw.githubusercontent.com/AyeRaj/Swiggy.Clone/main/images/food6.webp"><h4>CAKE</h4></div>
        <div class="box2"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/food5.png?raw=true"><h4>FRIEDS</h4></div>
        <div class="box2"><img src="https://github.com/AyeRaj/Swiggy.Clone/blob/main/images/food4.png?raw=true"><h4>SPICY</h4></div>
    </div>
    
    <p>Top selling foods</p>
    <div class="section">
        <div class="box2"><img src="https://res.cloudinary.com/purnesh/image/upload/w_540,f_auto,q_auto:eco,c_limit/21635497132231.jpg"></div>
        <div class="box2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkgbRJnOesw1KDZQOJie7EAbQi6J1BN2DeQA&usqp=CAU"></div>
        <div class="box2"><img src="https://www.livofy.com/health/wp-content/uploads/2023/03/fq5cs53_biryani-doubletree-by-hilton_625x300_12_April_22-1024x576.jpg"></div>
        <div class="box2"><img src="https://thenovicechefblog.com/wp-content/uploads/2021/02/Mojito-1.jpg"></div>
        <div class="box2"><img src="https://www.tasteofhome.com/wp-content/uploads/2018/01/Sopes_EXPS_FT23_28372_ST_4_13_1.jpg"></div>
        <div class="box2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgIH-dr3rS9fkN7XYI7iemFnQ5iF-nTeWOF2g_c8XbXc4m_-bpvOJpzv_pcDhaDjajqNo&usqp=CAU"></div>
    </div>
  </div>
  <div class="footer">
    <div class="col">
        <h3>Fun Food</h3>
        <a>2023 Bundl</a>
        <a>Technologies Pvt.ltd</a>
    </div>
    <div class="col">
        <h3>Company</h3>
        <a>About</a>
        <a>Career</a>
        <a>Team</a>
        <a>FunFood one</a>
        <a>FunFood Instamart</a>
        <a>FunFood Genie</a>
    </div>
    <div class="col">
        <h3>Contact Us</h3>
        <a>Help & Support</a>
        <a>Partner us</a>
        <a>Ride with us</a><br><br>
        <h3>Legal</h3>
        <a>Terms & Conditions</a>
        <a>Cookie policy</a>
        <a>Privacy Policy</a>
    </div>
    <div class="col">
        <h3>We deliver to</h3>
        <a>Patna</a>
        <a>Gurgaon</a>
        <a>Hyderabad</a>
        <a>Delhi</a>
        <a>Mumbai</a>
        <a>Pune</a>
        <a><select name="course list">
            <option>589 cities</option>
            <option>Patna</option>
            <option>Ranchi</option>
            <option>Bhubaneswar</option>	
        </select></a>
    </div>
