*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    
}
*::-webkit-scrollbar {
    display: none;
  }

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    z-index: 99;
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
}

ul{
    display: flex;
    list-style: none;
}
li{
    margin: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    cursor: pointer;
    padding: 10px;
}
.leftbar{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.leftbar li{
    margin: 5px;
}
.leftbar img{
    height: 50px;
    margin: 0 25px;
}

.rigthbar{
    width: 50%;
    display: flex;
    justify-content: center;
}

li:hover{
    color: #fc8019;
}
i{
    position: relative;
}

.content{
    overflow-x:hidden;
    position:relative;
    top: 100px;
    
}
.section{
    position:relative;
    margin-bottom: 30px;
    display: flex;
    overflow-x: scroll;
}

.content p{
    font-weight: bold;
    top: 80px;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}
.box1 img{
    overflow: auto;
    width: 425px;
    height: 253px;
    margin: 5px;
    border-radius: 30px;
}
.box2 img{
    overflow: auto;
    width: 150px;
    height: 150px;
    margin: 0 20px;
    border-radius: 100px;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.footer{
    width: 100vw;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    padding: 20px 0px;
    position: relative;
    top: 100px;
}
.footer .col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer h3{
    color: #fc8019;
}