<div class="footer">
    <div class="col">
        <h3>Food Fun</h3>
        <a>2024 Bundl</a>
        <a>Technologies Pvt.ltd</a>
    </div>
    <div class="col">
        <h3>Company</h3>
        <a>About</a>
        <a>Career</a>
        <a>Team</a>
        <a>FoodFun one</a>
        <a>FoodFun Instamart</a>
        <a>FoodFun Genie</a>
    </div>
    <div class="col">
        <h3>Contact Us</h3>
        <a>Help & Support</a>
        <a>Partner us</a>
        <a>Ride with us</a><br>
        <h3>Legal</h3>
        <a>Terms & Conditions</a>
        <a>Cookie policy</a>
        <a>Privacy Policy</a>
    </div>
    <div class="col">
        <h3>We deliver to</h3>
        <a>Patna</a>
        <a>Gurgaon</a>
        <a>Hyderabad</a>
        <a>Delhi</a>
        <a>Mumbai</a>
        <a>Pune</a>
        <a><select name="course list">
            <option>589 cities</option>
            <option>Patna</option>
            <option>Ranchi</option>
            <option>Bhubaneswar</option>	
        </select></a>
    </div>